header {
	margin-bottom: 2rem;
	background-color: $primary-color;
	.button {
		border: none !important;
		&.selected {
			background-color: darken($primary-color,10);
		}
	}
	.row-top {
		//border-bottom: 1px $light-gray solid;
		background-color: $black;
		.button {
			background: transparent;
		}
	}
	.row-bottom {
		/*.button.content.selected {
			border-right: 1px $black solid !important;
		}*/
	}
	.row, .columns, .button, .button-group {
		margin-top: 0;
		margin-bottom: 0;
	}
	.lang-flag {
		padding-left: 3rem;
		background-position: .75rem center;
		background-repeat: no-repeat;
	}
}
table label, input, table .input-group {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
table.v-headers tr td:first-child {
	white-space: nowrap;
}
.help-text {
	color: $dark-gray;
	margin-top: .1rem;
	&.nm {
		margin-top: -.8rem;
	}
}
table .button-group {
	margin-bottom: 0;
}
/*
.button.selected {
	background-color: $success-color;
}
*/
.fa-bars, .drag-handle {
	cursor: move;
}

#jstreeSite ._bt {
	padding-left: 6px;
	padding-right: 6px;
	margin-right: .5rem;
	&:hover  {
		color: $primary-color;
	}
}
#vakata-dnd .fa {
	display: none;
}
